/* CONTACTO */

#tcontacto {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 5px black;
    margin: 20px;
  }
  
  .containerform {
    width: 100%;
    max-width: 1200px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
  }
  
  .divcontacto {
    border: 10px solid black;
    border-radius: 30px;
    padding: 10%;
  
    h2 {
      font-size: 50px;
      font-weight: bold;
      color: black;
      text-align: center;
      text-shadow: 2px 2px 5px black;
      margin-bottom: 10%;
    }
  
    h3 {
      font-size: 22px;
    }
  
    p {
      font-size: 18px;
      padding-top: 20px;
    }
  }
  
  .containerform form {
    margin-left: 20px;
  
    .campo {
      width: 100%;
      padding: 15px 10px;
      font-size: 18px;
      border: 1px solid black;
      margin-bottom: 20px;
      border-radius: 10px;
      outline: 0px;
    }
  }
  
  textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 18px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: 0px;
  }
  
  .containerform {
    form textarea {
      max-width: 530;
      min-width: 530px;
      max-height: 140px;
      min-height: 140px;
    }
  
    .btnenviar {
      padding: 15px;
      font-size: 16px;
      font-weight: bold;
      border: none;
      outline: 0px;
      color: black;
      border: 10px solid white;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  
  /* CONTACTO */
  