/* NOSOTROS */

.tnosotros {
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 5px black;
  }
  
  .divnos {
    display: flex;
    justify-content: space-evenly;
  
    p {
      padding: 30px;
      font-size: 20px;
      width: 800px;
      height: 300px;
    }
  }
  
  /* NOSOTROS */