* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
    /* background-color: white; */
  }
  
  html {
    scroll-behavior: smooth;
  }
  